main-blx.bib
main.bbl
main.run.xml
main.synctex.gz

main.aux
main.blg
main.fdb_latexmk
main.fls
main.log
main.pdf
main.out
main.dvi
main.synctex(busy)

bibliography.aux
bibliography.fdb_latexmk
bibliography.fls
bibliography.log

*.fls
