main-blx.bib
main.bbl
main.run.xml
main.synctex.gz

main.aux
main.blg
main.fdb_latexmk
main.fls
main.log
main.pdf
main.out
main.dvi
main.synctex(busy)
main.toc

bibliography.aux
bibliography.fdb_latexmk
bibliography.fls
bibliography.log

*.fls

full_main-blx.bib
full_main.bbl
full_main.pdf
full_main.run.xml
full_main.synctex.gz

full_main.aux
full_main.blg
full_main.fdb_latexmk
full_main.log
full_main.out
full_main.toc


